.SearchBar {
    float: left;
    width: 80%;
    border-radius: 10px;
    border: 1px rgb(175, 173, 173) solid;
    outline: 0px;
    margin-top: 3px;
    padding: 1.5px 10px;
    font-size: 12px;
    color: rgb(54, 133, 250);
}

.SearchBar::placeholder {
    color: rgb(54, 133, 250);
}