.SaveButton {
    float: left;
    margin-right: 24px;
    margin-left: 10px;
}

.SaveButton p{
    font-size: 16px;
    color: rgb(54, 133, 250);
    margin: 0;
}

.SaveButton p:hover{
    cursor: pointer;
    color: rgb(110, 165, 248);
}